body {
  margin: 0;
  font-family: "Catamaran", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 0.98895;
  color: $colour-primary;
}

.extrabold {
  font-weight: 800;
}
