@keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(#ed254e, 0.6);
    box-shadow: 0 0 0 0 rgba(#ed254e, 0.6);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(#ed254e, 0);
    box-shadow: 0 0 0 10px rgba(#ed254e, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(#ed254e, 0);
    box-shadow: 0 0 0 0 rgba(#ed254e, 0);
  }
}

.button {
  background-color: theme-color("secondary");
  color: white;
  border-radius: 5px;
  border: 2px solid theme-color("secondary");
  text-align: center;
  padding: 4px;
  min-width: fit-content;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  &:hover {
    -webkit-animation: shadow-pulse 1s infinite;

    animation: shadow-pulse 1s;
  }
}

.button-secondary {
  background-color: white;
  color: theme-color("secondary");
  border-radius: 5px;
  border: 2px solid theme-color("secondary");
  text-align: center;
  padding: 4px;
  min-width: fit-content;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  &:hover {
    -webkit-animation: shadow-pulse 1s infinite;

    animation: shadow-pulse 1s;
  }
}

.btn-add-picture {
  width: 100%;
  background-color: $colour-primary-light;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-right: 16px;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
