$theme-colors: (
  "primary": #1a2340,
  "primary-light": #e8e8ec,
  "secondary": #ed254e,
  "tertiary": #f9dc5c,
  "grey": #908f8f,
  "red": #b4001a,
  "rosé": #ef9284
);

@import "~bootstrap/scss/bootstrap.scss";
.App {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Catamaran", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 0.98895;
}

.extrabold {
  font-weight: 800;
}

input {
  background-color: theme-color("primary-light") !important;
  font-size: 14px !important;
  border: 0px solid theme-color("primary-light") !important;
  color: theme-color("primary") !important;

  &::placeholder {
    opacity: 0.5 !important;
    font-size: 14px !important;
  }
  &:focus {
    border: 0px solid theme-color("grey") !important;
    box-shadow: none !important;
  }

  &:active {
    border: 0px solid theme-color("grey") !important;
    box-shadow: none !important;
  }
}

.label-input {
  font-size: 12px;
  color: theme-color("grey");
}

.button {
  background-color: theme-color("secondary");
  color: white;
  border-radius: 5px;
  border: 2px solid theme-color("secondary");
  text-align: center;
  padding: 4px;
  min-width: fit-content;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  &:hover {
    color: theme-color("secondary");
    background-color: white;
    box-shadow: 0px 2px 6px rgba(57, 61, 63, 0.4);
    text-decoration: none;
  }
}

.auth-header {
  background-color: theme-color("primary");
  border-radius: 0px 0px 40px 40px;
  width: 100%;
  height: 50%;
}

.card {
  background-color: white;
  color: theme-color("dark");
  border-radius: 4px;
  box-shadow: 5px 5px 24px rgba(0, 0, 0, 0.25);
  padding: 1rem 1.5rem !important;
}

.log-in-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: fit-content;
  animation: 1s log-in-box-show forwards;
  animation-delay: 1s;
}

.profile-image {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.header-dashboard {
  h3 {
    font-weight: 600;
  }
  border-radius: 0px 0px 40px 40px;
  background-color: theme-color("primary");
  color: white;
}
.nb-bottles {
  font-weight: 800;
}

.two-bottles {
  height: 70px;
  width: 70px;
}

.form-search {
  background-color: white !important;
  color: theme-color("grey") !important;
}

.search-bar {
  border-radius: 4px;
}

.filter-not-selected {
  background-color: white;
  border-color: theme-color("secondary");
  color: theme-color("secondary");
}

.empty-dashboard-box {
  width: 80%;
}

.header-new-bottle {
  background-color: theme-color("tertiary");
  border-radius: 0px 0px 40px 40px;
  color: theme-color("primary");
  font-size: 18px;
}

.color-input {
  width: 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 12px;
  border-radius: 0px 4px 4px 0px;
  transition: 0.4s;

  .radio {
    font-size: 9px;
    border-radius: 50px;
    border: 1px solid theme-color("primary-light");
    width: 15px;
    height: 15px;
    transition: 0.4s;
    color: transparent;
  }

  &.selected {
    color: white;
    .radio {
      background-color: white;
    }
  }
  &-red {
    border-left: 5px solid theme-color("red");
    &.selected {
      background-color: theme-color("red");
      .radio {
        border: 1px solid theme-color("red");
        color: theme-color("red");
      }
    }
  }
  &-rosé {
    border-left: 5px solid theme-color("rosé");
    &.selected {
      background-color: theme-color("rosé");
      .radio {
        border: 1px solid theme-color("rosé");
        color: theme-color("rosé");
      }
    }
  }
  &-white {
    border-left: 5px solid theme-color("tertiary");
    &.selected {
      background-color: theme-color("tertiary");
      .radio {
        border: 1px solid theme-color("tertiary");
        color: theme-color("tertiary");
      }
    }
  }
}

.close {
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.millesime-card {
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 12px;
}

.card-new-bottle {
  border: 1px solid transparent;
}

.dot-step {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid theme-color("primary-light");
  margin-left: 4px;
  background-color: transparent;

  &:nth-child(1) {
    margin-left: 0px;
  }

  &.selected {
    background-color: theme-color("primary");
    border: 1px solid theme-color("primary");
  }
}

.badge {
  border-radius: 10px;
  padding: 8px;
  font-size: inherit;
  &-primary {
    background-color: theme-color("primary");
  }
  &-tertiary {
    background-color: theme-color("tertiary");
  }
}

.new-bottle-name {
  font-size: 20px;
  font-weight: 700;
}

.card-new-bottle {
  font-size: 18px;
}
