$theme-colors: (
  "primary": #1a2340,
  "primary-light": #e8e8ec,
  // "secondary": #ed254e,
    "secondary": #ff0000,
  "tertiary": #f9dc5c,
  "grey": #908f8f,
  "red": #b4001a,
  "rosé": #ef9284,
);

$colour-primary: #1a2340;
$colour-primary-light: #e8e8ec;
