$theme-colors: (
  "primary": #0c1b33,
  "primary-light": #e8e8ec,
  "warning": #ff0000,
  "secondary": #3ab795,
  "secondary-light": #b8e5d7,
  "tertiary": #f9dc5c,
  "grey": #908f8f,
  "red": #b4001a,
  "rosé": #ef9284,
);

$colour-primary: #1a2340;
$colour-primary-light: #e8e8ec;
$colour-secondary: #ff0000;
$colour-tertiary: #f9dc5c;
$colour-grey: #908f8f;
$colour-red: #b4001a;
$colour-rosé: #ef9284;

$wine-palettes: (
  rosé: $colour-rosé,
  red: $colour-red,
  white: $colour-tertiary,
);

$directions: (
  left: left,
  right: right,
);
